@import '../../styles/scss/mixine-font';
@import '../../styles/scss/variables';

.breadcrumbs {
  @include font(14px, 300, 17px, $colorGrey1);
  padding: 0 10px 0 0;
  & span {
    @include font(14px, 300, 17px, rgba(63, 78, 101, 0.5));
    margin: 0 0 0 10px;
    padding: 0 0 0 10px;
    border-left: 1px dashed rgba(63, 78, 101, 0.3);
  }
  &-next {
    @include font(14px, 300, 17px, rgba(63, 78, 101, 0.5));
    padding: 0 0 0 10px;
    border-left: 1px dashed rgba(63, 78, 101, 0.3);
    max-width: 600px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &_active {
    cursor: pointer;
  }
}

.breadcrumbsCustomStyle li:nth-child(2) {
  display: none;
}
.breadcrumbsCustomStyle li:nth-child(4) {
  display: none;
}

@media screen and (max-width: 780px) {
  .MuiTypography-root {
    display: none;
  }
}
